
gunicorn
flask
gspread
oauth2client
opencv-python
numpy
pyzbar
pandas
requests
google-auth
google-auth-oauthlib
httplib2
pyasn1
pyasn1-modules
rsa
cryptography
cffi
pycparser
requests-oauthlib
six
packaging
idna
urllib3
certifi
charset_normalizer
